/static/.bowerDependencies
/static/node_modules
/static/dist
/static/js/lib/vendor
/static/less/vendor
!/static/less/vendor/variables.less
/php/.phpintel
/php/.sonar
/php/.phpDoc
/php/composer.lock
/php/vendor
/php/conf.ini
log.txt
*.dmp
